* {
    padding: 0;
    margin: 0;
}

.logo img{
    width: 75px;
}

.welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.links{
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.links a {
    margin-left: 2rem;
    margin-right: 2rem;
}

.products-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.search-feats{
    margin-right: 2px;
}

.products-message{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.products-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products {
    max-width: 1200px;
    border: 2px solid red;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.product{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 450px;
    margin: 4px;
}
.product-info{
    margin-top: 2rem;
    align-items: center;
}

.product img{
    width: 275px;
}

.bio{
    margin-right: 20rem ;
    margin-left: 20rem ;
    margin-top: 5rem;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;

}