.card{
    display: flex;
    width: 295px;
    flex-wrap: wrap;
    height: max-content;
    max-height: 500px;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: aqua;
    text-overflow: ellipsis;
    white-space:pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    font-weight: 500;

}
.card p{
    max-width: 295px;
    max-height: 450px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space:pre-wrap;
    word-wrap: break-word;}
