#root {
  text-align: center;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem 1rem;
}